Package: adventbutwrong
Version: 0.0.7prebeta
Section: Games
Priority: optional
Architecture: all
Essential: no
Maintainer: Alexey Pavlov <pezleha@gmail.com>
Description: A really fun text adventure about defending the kingdom. You will need to click heels.
Depends: python3
