Package: adventbutwrong
Version: prebeta0.0.1
Section: Games
Priority: optional
Architecture: all
Essential: no
Maintainer: Alexey Pavlov <pezleha@gmail.com>
Description: A kinda wrong text adventure in the style of zork
Depends: python3
